.pageContentContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
}

.pizzaRating {
  opacity: 80%;
}

.timestamp {
  font-style: italic;
  padding: 0.25em 0.5em;
}

.headingContainer {
  padding-bottom: 0.25em;
}

.reviewContainer {
  padding-bottom: 1em;
  border-bottom: 1px solid hsl(0, 10%, 80%);
}

.reviewContainer:not(:last-child) {
  margin-bottom: 1em;
}

.reviewContainer:first-child {
  padding-top: 1em;
}
