.ratingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.ratingText {
    color: hsl(0, 0%, 25%);
    font-weight: bold;
}

.ratingCount {
    color: hsl(0, 0%, 50%);
}

.contentContainer {
/*    there will be only two components, they should be side by side if*/
    display: flex;
    flex-direction: row;
}

.reviewContainer {
    /*max-height: 50vh;*/
    /*overflow-y: scroll;*/
}
