.ratingBox {
    display: flex;
    align-items: center;
    gap: .5em;
}

.ratingText {
    color: hsl(0, 0%, 25%);
    font-weight: bold;
}

.ratingCount {
    color: hsl(0, 0%, 50%);
}

.container {
    display: flex;
    flex-direction: row;
}
