.title {
  margin-inline: auto;
}

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.ratingText {
  @media (prefers-color-scheme: dark) {
    color: hsl(0, 0%, 95%);
  }

  color: hsl(0, 0%, 25%);
  font-weight: bold;
}

.ratingCount {
  @media (prefers-color-scheme: dark) {
    color: hsl(0, 0%, 95%);
  }

  color: hsl(0, 0%, 25%);
}

.pageContentContainer {
  /*    there will be only two components, they should be side by side if*/
  display: flex;
  flex-direction: row;
}

.pageContentContainer > * {
  padding-block: 0.5em;
}

.mapContentContainer > * {
  padding: 0.5em 1em;
}

.websiteUri {
  text-decoration: underline;
  color: blue;
}

.reviewContainer {
  /*max-height: 50vh;*/
  /*overflow-y: scroll;*/
}
